
* {
    font-family: 'Montserrat', sans-serif;
}


.jumbotron {
    background-color: #5d2d43;
    color: white;
}


.card-header {
    background-color: #7b9be6;
    color: white;
}

.card {
    margin: 15px;
    box-shadow: 2px 2px 5px rgb(183, 184, 183);
}

.card-body {
    font-size: .99rem !important;
}